---
import { LayoutBlogPost } from '@/layouts'
---
<LayoutBlogPost title="¿Por qué?" description="¿Por qué hicimos esto?" pubDate={new Date('06-12-24')} heroImage="/placeholder/Unidad5.png" tags="">
  <section class="space-y-20">
    <article class="space-y-4">
      <h2 class="text-4xl text-secondary-300 leading-none">Nuestra Misión</h2>
      <div class="grid md:grid-cols-2 gap-8">
        <img src="/placeholder/Unidad2.jpg" alt="Image" class="h-full object-cover rounded-3xl" />
        <div class="space-y-4">
          <p class="text-sm lg:text-lg text-foreground">
            Nuestra aplicación web es un foro tipo documentación que se basa en fundamentos de programación, facilitando el acceso a temas de estudio para los estudiantes. Proporcionamos herramientas y recursos esenciales para que los estudiantes encuentren lo que necesitan sin perder tiempo en múltiples páginas.
          </p>
          <p class="text-sm lg:text-lg text-foreground">
            Con esta plataforma, buscamos centralizar la información y ofrecer un entorno de aprendizaje eficiente y accesible. Los estudiantes pueden acceder a contenido relevante y actualizado, participar en discusiones y compartir conocimientos con sus compañeros.
          </p>
        </div>
      </div>
    </article>
    <article class="space-y-4">
      <h2 class="text-4xl text-secondary-300 leading-none">Beneficios para los Estudiantes</h2>
      <p class="text-sm lg:text-lg text-foreground">
        Nuestra plataforma ofrece varios beneficios para los estudiantes:
      </p>
      <ul class="list-disc list-inside text-sm lg:text-lg text-foreground space-y-2">
        <li>Acceso rápido a temas de estudio fundamentales en programación.</li>
        <li>Herramientas y recursos organizados en un solo lugar.</li>
        <li>Contenido actualizado y relevante para el aprendizaje continuo.</li>
      </ul>
      <div class="py-8">
        <img class="w-full h-96 rounded-3xl object-cover" src="https://picsum.photos/id/120/1024/600" alt="Image" />
      </div>
      <p class="text-sm lg:text-lg text-foreground">
        Creemos que al proporcionar una plataforma centralizada y bien organizada, podemos ayudar a los estudiantes a enfocarse en lo que realmente importa: aprender y aplicar los conceptos de programación de manera efectiva.
      </p>
    </article>
    <article class="space-y-4">
    <h2 class="text-4xl text-secondary-300 leading-none">Cómo Utilizar la Plataforma</h2>
    <div class="grid md:grid-cols-2 gap-8">
      <div class="space-y-4">
        <p class="text-sm lg:text-lg text-foreground">
          Para utilizar nuestra plataforma, simplemente navega a través de las diferentes secciones y accede a los temas de estudio que te interesen. Puedes leer la información disponible y utilizar los recursos proporcionados para mejorar tus conocimientos en programación.
        </p>
        <p class="text-sm lg:text-lg text-foreground">
          Nuestro objetivo es proporcionar un foro informativo estático donde los estudiantes puedan encontrar contenido relevante y actualizado. ¡Explora nuestra plataforma y mejora tus habilidades de programación hoy mismo!
        </p>
      </div>
      <img src="https://picsum.photos/id/1/768/400" alt="Image" class="h-full object-cover rounded-3xl" />
    </div>
  </article>
  </section>
</LayoutBlogPost>
