---
import { LayoutBase } from '@/layouts'
---

<LayoutBase classNameMain="pt-12 md:pt-24 lg:pt-40 px-4">
  <h1 class="text-4xl md:text-7xl font-bold text-center text-primary"> Hola Futur@ Programador/a</h1>
  <div class="max-w-screen-lg mx-auto pb-12 pt-4 md:pt-8 space-y-8">
    <p class="text-center text-lg font-medium text-background-300">
      Bienvenid@ a este peque帽o rincon de la web, donde podras aprender y comprender los conceptos basicos de la programacion.
    </p>

    <div class="flex-1 text-xs text-background-500 text-center w-full space-y-4 md:px-52">
      <p>
        <span class="font-bold">驴Qu茅 es la programaci贸n?</span> La programaci贸n es el proceso de dise帽ar e implementar un programa de computadora. Es la creaci贸n de un conjunto de instrucciones que le dicen a una computadora c贸mo realizar una tarea.
      </p>
    </div>
    <div class="grid place-content-center pb-0">
      <a
        class="bg-success text-success-900 text-xl font-bold px-6 pb-2 pt-2.5 rounded-full transition-all hover:bg-success-600 hover:text-success-950 active:scale-95"
        href="/blog">隆Quiero saber mas !!!</a
      >
    </div>
  </div>
</LayoutBase>
