---

---
<div
  class="text-white prose lg:prose-xl prose-zinc max-w-full dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-secondary-600 prose-h2:text-lime-400 prose-strong:text-red-400 prose-strong:underline prose-p:text-justify prose-img:rounded-xl prose-headings:underline"
>
  <slot/>
</div>