---
const today = new Date()
---

<p class="relative text-neutral-500 text-sm text-center leading-none">
  Created by <a href="https://damenor.com" class="text-neutral-400 hover:text-neutral-200" target="_blank">damenor</a>
  &copy; {today.getFullYear()} All rights reserved
</p>
